# Logs
logs
*.log
npm-debug.log*
.yarn-error.log

# Dependencies
node_modules

# Caches
.cache
.npm
.eslintcache

# REPL history
.node_repl_history

# Yarn
.yarn-Integrity

# IDEs
.idea
.vscode

# macOS
.DS_Store

# Custom Folders
tmp
